<div class="container">

  <h2>Cadastros</h2>

  <input
    type="number"
    [(ngModel)]="idConsulta"
    placeholder="Informe o ID">

  <button (click)="consultar()">
    Consultar
  </button>

  <hr>

  <p><strong>ID:</strong> {{ cadastro.id }}</p>

  <p><strong>Nome:</strong> {{ cadastro.nome }}</p>

  <p><strong>Departamento:</strong> {{ cadastro.departamento }}</p>

  <p><strong>Endereço:</strong> {{ cadastro.endereco }}</p>

  <p><strong>Email:</strong> {{ cadastro.email }}</p>

  <button (click)="excluir()">
    Exclusão
  </button>

  <hr>

  <input
    type="number"
    [(ngModel)]="cadastro.id"
    placeholder="ID">

  <input
    type="text"
    [(ngModel)]="cadastro.nome"
    placeholder="Nome">

  <input
    type="text"
    [(ngModel)]="cadastro.departamento"
    placeholder="Departamento">

  <input
    type="text"
    [(ngModel)]="cadastro.endereco"
    placeholder="Endereço">

  <input
    type="email"
    [(ngModel)]="cadastro.email"
    placeholder="Email">

  <button (click)="alterar()">
    Alterar
  </button>

  <div
    [style.background]="corMensagem"
    style="margin-top:20px;padding:10px;color:white;">

    {{ mensagem }}

  </div>

</div>