*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  background: #FFFDF9;
  color: #3D3228;
}

a {
  text-decoration: none;
  color: inherit;
}
