<nav class="barra-menu">

  <ul class="menu-lista">

    <li class="menu-item">
      <a
        routerLink="/"
        routerLinkActive="ativo"
        [routerLinkActiveOptions]="{ exact: true }">
        🏠 Home
      </a>
    </li>

    <li class="menu-item">
      <a
        routerLink="/funcionarios"
        routerLinkActive="ativo">
        👥 Funcionários
      </a>
    </li>

    <li class="menu-item">
      <a
        routerLink="/cadastro"
        routerLinkActive="ativo">
        📔 Cadastros
      </a>
    </li>

  </ul>

</nav>